Source: wb-ble-tesliot
Section: misc
Priority: optional
Maintainer: Alexander Rakhman <alexander.rakhman@wirenboard.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 4.5.1
Homepage: https://github.com/wirenboard/wb-ble-tesliot

Package: wb-ble-tesliot
Architecture: all
Depends: ${misc:Depends}, wb-rules (>= 1.7), wb-utils (>= 2.1), bluez
Description: Scripts for compatibility with TESLiOT BLE sensors
